html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

.app {
  min-height: 100vh;
  background-color: black;
}

.appHeader {
  background-color: #242424;
  padding: 1rem 0;
  position: sticky;
  top: 0;

  h1 {
    margin: 0 0 1rem 1rem;
    color: #E50914;
  }
}
